<div class="table-title">
  <h3>Blood Pressure</h3>
</div>

<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>

<!-- <div class="chart">
  <google-chart [chartType]="'CandlestickChart'" [dataPromise]="dataMap['CANDLE_DATA']" [options]="dataMap['CANDLE_OPTIONS']" [config] ="dataMap['CANDLE_CONFIG']"></google-chart>
</div> -->


<!--
<table>
  <tr>
    <th>date</th>
    <th>pressure</th>
  </tr>
  <tr *ngFor="let bloodPressure of bloodPressures">
    <td>{{bloodPressure.date}}</td>
    <td>{{bloodPressure.pressure}}</td>
  </tr>
</table>
-->
