<!-- <div class="chart">
  <google-chart [chartType]="'ColumnChart'" [dataPromise]="dataMap['STACKED_COLUMN_DATA']" [options]="dataMap['STACKED_COLUMN_OPTIONS']" [config] ="dataMap['STACKED_COLUMN_CONFIG']"></google-chart>
</div> -->

<!-- <table>
  <tr>
    <th>date</th>
    <th>waters</th>
    <th>coffees</th>
    <th>beers</th>
  </tr>
  <tr *ngFor="let drink of drinks">
    <td>{{drink.date}}</td>
    <td>{{drink.waters}}</td>
    <td>{{drink.coffees}}</td>
    <td>{{drink.beers}}</td>
  </tr>
</table> -->
